* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --offwhite: rgba(255, 255, 255, 0.861);
    --white: rgb(255, 255, 255);
    --background: rgba(48, 48, 48, 0.957);
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--offwhite);
    background-color: var(--background);
    position: relative;
    min-height: 100vh;
}

.navbar-brand {
    color: var(--offwhite)
}

.navbar-brand:hover {
    color: var(--white)
}

.foot {
    height: 5vh;
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.header {
    height: 7vh;
}

.maingrid {
    position: relative;
    display: grid;
    margin-top: 7vh;
    margin-bottom: 5vh;
    width: 100vw;
    height: 88vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
}

.cell {
    display: flex;
    background-color: rgb(48, 48, 48);
}

.cell.works {
    min-height: 15vh;
}

.compact {
    word-spacing: -5px;
}

.aboutme {
    display: flex;
    word-break: normal;
    padding: .5vw;
    font-size: 1.2rem;
}

.myimg {
    float: left;
    max-height: 15vh;
    margin: 10px;
}


.works>.cellcontainer,
.contact>.cellcontainer {
    position: relative;
    width: 100%;
}

.works>.cellcontainer>h2 {
    position: absolute;
    padding: 15px;
}

ol {
    margin: 0;
    padding: 0;
}


.workstitle {
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.432);
}

.gallery {
    position: relative;
    height: 100%;
}

.hide {
    display: none;
}

.contactinfo {
    padding: 15px;
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.2rem;
}

.title {
    padding: 15px;
    height: 20%
}

.resumetext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding: 15px;
    font-size: 1.2rem;
}

.modal {
    top: 50vh;
    --bs-modal-margin: 0rem;
    --bs-modal-width: 750px;
    --bs-modal-bg: var(--offwhite);
    transform: translateY(-30%);
    color: rgba(0, 0, 0, 0.883);
}

.modal.show {
    animation: blinking 500ms ease;
}

@keyframes blinking {
    0% {
        display: block;
        opacity: 0;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }

}

.card {
    border: transparent;
    outline-color: rgba(0, 0, 0, 0);
}

.center {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
}

.card>img {
    height: 35vh;
    object-fit: cover;
    object-position: left;
}

.cardfoots {
    display: flex;
    justify-content: space-between;
}

.cardfoots>a {
    text-decoration: none;
}

.exit {
    position: absolute;
    right: 0;
    background-color: transparent;
    color: rgb(227, 224, 224);
    border: transparent;
    font-weight: bolder;
    font-size: 2rem;
}

.exit:hover {
    color: white
}

/*  -------------------------------------------------------------------------------------------------------  */
@keyframes tonext {
    75% {
        left: 0;
    }

    95% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }

    95% {
        left: -700%;
    }

    98% {
        left: -700%;
    }

    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }

    97% {
        scroll-snap-align: none;
    }

    99% {
        scroll-snap-align: none;
    }

    100% {
        scroll-snap-align: center;
    }
}


*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    height: 100%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    cursor: pointer;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    height: 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

.carousel__slide:nth-child(even) {
    background-color: #99f;
}

.carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #fff;
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

/*
@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}
*/

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: -1rem;
}

.carousel::after,
.carousel__next {
    right: -1rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

#carousel__slide1 {
    background-image: url('./assets/imgs/gifthub.png');
    background-position: center;
    background-size: cover;
}

#carousel__slide2 {
    background-image: url('./assets/imgs/techdeck.png');
    background-position: center;
    background-size: cover;
}

#carousel__slide3 {
    background-image: url('./assets/imgs/servercrawl.png');
    background-position: center;
    background-size: cover;
}

#carousel__slide4 {
    background-image: url('./assets/imgs/moviemash.png');
    background-position: center;
    background-size: cover;
}

#carousel__slide5 {
    background-image: url('./assets/imgs/diceroller.png');
    background-position: center;
    background-size: cover;
}

#carousel__slide6 {
    background-image: url('./assets/imgs/weather.png');
    background-position: center;
    background-size: cover;
}

#carousel__slide7 {
    background-image: url('./assets/imgs/connectfour.png');
    background-position: center;
    background-size: cover;
}

#carousel__slide8 {
    background-image: url('./assets/imgs/wordguesser.png');
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 1280px) {

    body {
        overflow-y: scroll;
    }

    .navbar {
        height: 4vh;
        position: absolute;
    }

    .maingrid {
        position: relative;
        display: grid;
        margin-top: 4vh;
        margin-bottom: 5vh;
        width: 100vw;
        min-height: 88vh;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 5px;
    }

    h2 {
        min-height: 0vh !important;
        height: auto !important;
        padding: 0 !important;
    }

    .cell.aboutme {
        padding-bottom: 5px;
        font-size: 1.2rem;
    }

    .cell.works {
        min-height: 50vh;
    }

    .card-text {
        font-size: .9rem
    }
}

@media only screen and (min-width: 2200px) {
    .cell {
        font-size: 1.5rem;
    }

    .resumetext {
        font-size: 1.5rem;
    }

}